{% extends 'refugees/base.html' %}
{% load humanize %}

{% block styles %}
#chart { width: 100%; height: 300px; margin-bottom:30px;}
th { cursor:pointer; cursor:hand; }
{% endblock %}

{% block content %}
<div class="jumbotron">
<div class="container">
<h3>Since 2002, more than <strong>{{ total_count.quoi|intcomma }}</strong> refugees from <strong>{{ sum_by_country.count }}</strong> countries have resettled in the United States.</h3>
</div>
</div>

<div class="container">
<div class="row" style="margin-top:35px;">
<div class="col-md-7">
<div id="chart"></div>
<hr>
<p>Data from the <a href="http://www.wrapsnet.org/Reports/InteractiveReporting/tabid/393/EnumType/Report/Default.aspx?ItemPath=/rpt_WebArrivalsReports/MX%20-%20Arrivals%20by%20Destination%20and%20Nationality" target="_blank">U.S Department of State Refugee Processing Center</a>. Updated {{ last_updated|date:"N j, Y" }}.</p>

<h2 style="margin-top:40px;">World-Herald coverage</h2>
<ul class="lead">
    <li><a href="http://www.omaha.com/news/metro/midlands-lawmakers-cite-security-concerns-in-push-for-suspension-of/article_24c8262b-5c26-52e1-b3b6-186f7166b1d5.html" target="_blank">Midlands lawmakers cite security concerns in push for suspension of refugee resettlements</a></li>
    <li><a href="http://www.omaha.com/news/nebraska/despite-opposition-from-ricketts-and-others-resettlement-groups-still-willing/article_98fdc87c-8d5f-11e5-b9da-37b4895093a5.html" target="_blank">Despite opposition from Ricketts and others, resettlement groups still willing to help Syrians</a></li>
    <li><a href="http://www.omaha.com/news/nebraska/after-paris-attacks-ricketts-branstad-oppose-resettlement-of-syrian-refugees/article_b59ba0ee-8ca1-11e5-b74f-a74b34cbe379.html" target="_blank">After Paris attacks, Ricketts, Branstad oppose resettlement of Syrian refugees in Nebraska, Iowa</a></li>
    <li><a href="http://www.omaha.com/news/goodnews/thank-you-omaha-syria-native-finds-new-home-in-the/article_f2d904ba-7b65-58e1-b9e1-11c62680206f.html" target="_blank">Thank you, Omaha: Syria native finds new home in the heart of the Midwest</a></li>
</ul>

<!--<p class="small ital"><a href="/refugees/about">More information about this data</a></p>-->

</div>

<div class="col-md-5">
<div class="well">
    <button type="button" id="tableswitcher" class="btn btn-default btn-lg btn-block" style="margin-bottom:15px;">By country of origin</button>
    <table class="table lead" id="stateTable">
    <thead>
        <tr>
            <th>State</th>
            <th>Number</th>
        </tr>
    </thead>
    <tbody>
    {% for thing in sum_by_state %}
        <tr>
            <td{% if forloop.first %} style='border-top:none;'{% endif %}><a href='/refugees/state/{{ thing.stateabbr|lower }}'>{{ thing.stateabbr__statename }}</a>
            </td>
            <td{% if forloop.first %} style='border-top:none;'{% endif %}>{{ thing.num__sum|intcomma }}
            </td>
        </tr>{% endfor %}
    </tbody>
    </table>
    
    <table class="table lead" id="countryTable" style="display:none;">
    <thead>
        <tr>
            <th>Country</th>
            <th>Number</th>
        </tr>
    </thead>
    <tbody>
    {% for thing in sum_by_country %}
        <tr>
            <td{% if forloop.first %} style='border-top:none;'{% endif %}><a href='/refugees/country/{{ thing.countrycode }}'>{{ thing.countrycode__name }}</a>
            </td>
            <td{% if forloop.first %} style='border-top:none;'{% endif %}>{{ thing.num__sum|intcomma }}
            </td>
        </tr>{% endfor %}
    </tbody>
    </table>
    
</div>
</div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="http://www.dataomaha.com/media/scripts/flot/jquery.flot.min.js"></script>
<script src="http://www.dataomaha.com/media/scripts/flot/jquery.flot.time.min.js"></script>
<script src="http://www.dataomaha.com/media/scripts/tablesorter/jquery.tablesorter-2.10.8.js"></script>

<script>

$("#tableswitcher").click(function() {
    if ( $('#stateTable:visible').size() > 0 ){
        $("#stateTable").hide();
        $("#countryTable").show();
        $(this).text("By state");
    } else {
        $("#countryTable").hide();
        $("#stateTable").show();
        $(this).text("By country of origin");
    };
});

var getYear = function(y) {
    return new Date(y, 0, 1).getTime();
}

var d1 = [{% for dude in sum_by_year %}[getYear({{dude.year}}), {{ dude.num__sum }}]{% if not forloop.last %},{% endif %}{% endfor %}];

function addCommas(nStr)
    {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
        return x1 + x2;
    }

function formatter(val, axis) {
    return addCommas(val);
}

var chartIt = function() {
    $.plot($("#chart"), [d1], {
        series: {
            bars: {
                show: true,
				fill: true,
				fillColor: '#c8d8e3',
                align: "center"
            },
          color: "#fff"
        },
        bars: { barWidth: 60*60*24*365*1000 },
        shadowSize: 0,
        xaxis: {
            min: (new Date(2001, 6, 0)).getTime(),
            max: (new Date(2015, 6, 0)).getTime(),
            mode: "time",
            tickLength: 0,
            ticks: 3
        },
        yaxis: {
            tickFormatter: formatter
        },        
        grid: {
            borderWidth: 0.5,
            axisMargin: 0,
            borderColor: '#eee',
            color: '#eee',
            labelMargin:15
            }
    });
};

$(document).ready(function() {
    chartIt();
    $("#stateTable").tablesorter();
    $("#countryTable").tablesorter();
});

var updateLayout = _.debounce(function(e) {
    chartIt();
    //var targetWidth = $('#mapcontainer').width();
    //$('#map').attr("width", targetWidth);
    //$('#map').attr("height", targetWidth);
}, 500);

window.addEventListener("resize", updateLayout, false);

</script>
{% endblock %}